@media only screen and (max-width: 768px) {
    header>div>div {
        display: none;
    }

    header>div>a {
        margin: auto;
        padding: 0 15px;
    }

    nav {
        font-size: 1.2em;
    }

    #aboutme_box {
        max-width: 90%;
    }

    #profilepic {
        display: none;
    }

    main>article>.project_box {
        max-width: 75%;
    }

    article>figure>img {
        width: 75%;
    }

    article section.project_assets>figure {
        width: 50%;
    }

    article section.project_images>figure {
        width: 100%;
    }

    article section.project_video>figure>video {
        width: 75%;
    }

    div.qr_code img {
        width: 30%;
    }

    main::-webkit-scrollbar {
        width: 0;
    }
}

@media only screen and (max-width: 400px) {
    header>div>a {
        font-size: 1.3em;
    }

    nav {
        font-size: 1em;
    }

    nav>a {
        margin-right: 0.5em;
    }

    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main>article>.project_box {
        max-width: 90%;
    }

    article>figure>img {
        width: 90%;
    }

    article>h2.project_title {
        font-size: 1.2em;
    }

    article section.project_assets>figure {
        width: 100%;
    }

    article section.project_video>figure>video {
        width: 90%;
    }

    div.qr_code img {
        width: 40%;
    }
}