/*
    Nome: Inês Cerqueira
    Nº Estudante: 3210487
    Portfólio
    3º, 2023-2024
    2º Semestre
    Unidade Curricular: Laboratório de Projeto II
    Curso: DGM
    ESAD.CR
    Docente: Marco Heleno
    04 Junho 2024
*/

@font-face {
    font-family: 'Sysfont';
    src: url('font/sysfont/sysfont.woff2') format('woff2'),
        url('font/sysfont/sysfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Universal Selector */
* {

    margin: 0;
    padding: 0;
    font-family: "Sysfont";
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;

}


body {
    border: 5px solid black;
    box-shadow: 15px 10px 0px 0px rgba(0, 0, 0, 1);
    margin: 0 20px 10px 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


header {
    background-image: url(imagens/header.png);
    background-repeat: repeat-y;

    border-bottom: 5px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6em;
}

header>div {
    height: 33px;
    width: 33px;
    border: 5px solid black;
    background-color: white;
    margin-left: 60px;
    padding: 10px;
}

/* Element Selector */
header>a>h1 {
    height: 100%;
    background-color: white;
    margin-left: 100px;
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

nav {
    padding: 0.5em;
    font-size: 1.5em;
    border-bottom: 5px solid black;
    text-transform: uppercase;
    height: 2.5em;
}

nav>a {
    margin-right: 1em;
}

#selected_tab {
    text-decoration: underline;
}

/* revisto */

/*scrollbar */
main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000000;
    --sb-size: 15px;
}

main::-webkit-scrollbar {
    width: var(--sb-size);
}

main::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
}

main::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 0px;

}

@supports not selector(::-webkit-scrollbar) {
    main {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: flex-start;
    padding-top: 2em;

}

figcaption>h3 {

    text-transform: uppercase;
    text-align: center;
}

a figure {
    flex-basis: 25%;
    text-align: center;

}

a figure img {
    width: 50%;
}


#contact_box {
    border: 5px solid black;
    margin: 15em auto;
    width: 350px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}


#contact_box h3 {
    padding: 0.2em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid black;
}

#contact_box address {
    padding: 0.5em 1em;
    border-bottom: 5px solid black;
    margin-bottom: 2px;
    text-transform: uppercase;
}

#contact_box address>p {
    margin: 0.5em 0;
    font-size: large;
    font-style: normal;
}


#aboutme {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

#aboutme_box {
    border: 5px solid black;
    min-width: 400px;
    max-width: 40%;
    padding: 0.5em 1em;
    font-size: large;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);

}

#aboutme_box>p {
    margin-bottom: 0.5em;
}

#aboutme_box strong,
#aboutme_box h3 {
    text-transform: uppercase;
}

#aboutme_box li {
    list-style-type: square;
}

#profilepic {
    width: 20em;
}

main>article>.project_box {
    border: 5px solid black;
    min-width: 400px;
    width: fit-content;
    max-width: 40%;
    padding: 0.5em;
    font-size: large;
    text-align: start;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}


article>h2.project_title {
    position: sticky;
    background-color: white;
    color: black;
    top: 0px;
    left: 0px;
    border-bottom: 5px solid black;
}

article>h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

article section.project_images {
    display: flex;
    flex-wrap: wrap;
}

article section.project_images>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    width: 50%;
    padding: 3em 0;
    gap: 1em;
    border: 5px solid black;
    padding: 2em 0;
}

article figcaption>h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
}

article section.project_video>figure>video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 1em;
}

article section.project_video>figure>figcaption {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
}

article section.project_assets {
    display: flex;
    flex-wrap: wrap;
}

article section.project_assets>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 33.33%;
    width: 33.33%;
    padding: 0.5em;
    gap: 2em;
    border: 5px solid black;
}

article>figure>img {
    display: flex;
    width: 50%;
    margin: 2em auto 0 auto;
    border: 5px solid black;
}

div.qr_code {
    width: 100%;
    margin: 2em auto;
    text-align: center;
}

div.qr_code img {
    width: 25%;
    margin: 0 auto;
}

main>article {
    margin-bottom: 1em;
}