@font-face {
  font-family: "Sysfont";
  src: url("/font/sysfont/sysfont.woff2") format("woff2"),
    url("/font/sysfont/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Sysfont";
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;

  --cursor-default: url("cursors/cursor.cur"), auto;
  --cursor-pointer: url("cursors/pointer.cur"), pointer;
  --cursor-grabbing: url("cursors/grabbing.cur"), grabbing;

  --background-color: white;
  --foreground-color: black;

  cursor: var(--cursor-default);
}

html.dark-mode {
  --cursor-default: url("cursors/cursor-alt.cur"), auto;
  --cursor-pointer: url("cursors/pointer-alt.cur"), pointer;
  --cursor-grabbing: url("cursors/grabbing-alt.cur"), grabbing;

  --background-color: blue;
  --foreground-color: #f7ff5f;
}

body {
  margin: 20px 35px 0 20px;
  border: 5px solid var(--foreground-color);
  box-shadow: 15px 10px 0px 0px var(--foreground-color);
  -moz-box-shadow: 15px 10px 0px 0px var(--foreground-color);
  -webkit-box-shadow: 15px 10px 0px 0px var(--foreground-color);

  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;

  color: var(--foreground-color);
  background-color: var(--background-color);
}

a:hover,
button:hover {
  cursor: var(--cursor-pointer);
}

main {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

main::before {
  content: "";
  height: calc(100% + 1px);
  float: left;
  visibility: hidden;
}

main::after {
  content: "";
  /* height: 100.09%; */
  width: calc(100% + 1px);
  float: left;
  visibility: hidden;
}

.centering-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome_page_gif {
  display: flex;
  align-items: center;
  height: 90%;
  max-height: 100%;
  width: fit-content;
}

#welcome_page_gif > a {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

#welcome_page_gif > a > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

html.dark-mode #welcome_page_gif > a > img {
  /* Done through: https://angel-rs.github.io/css-color-filter-generator/ */
  filter: brightness(0) saturate(100%) invert(79%) sepia(65%) saturate(385%)
    hue-rotate(20deg) brightness(115%) contrast(107%);
}

a:link {
  color: var(--foreground-color);
  text-decoration: none;
}

a:hover {
  color: var(--foreground-color);
  text-decoration: underline;
}

a:active {
  color: var(--foreground-color);
  text-decoration: underline;
}

a:visited {
  color: var(--foreground-color);
  text-decoration: underline;
}

div.scroll-padding {
  height: 50px;
}

.folded-bottom {
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
}

.folded-bottom > span:first-child {
  flex-basis: 60px;

  border-top: 5px solid var(--foreground-color);
  border-right: 5px solid var(--foreground-color);
  aspect-ratio: 1;
}

.folded-bottom > span:first-child div {
  height: 5px;
  width: 5px;
  background-color: var(--foreground-color);
}
.folded-bottom > span:first-child div:nth-child(1) {
  position: relative;
  transform: translateX(5px);
}
.folded-bottom > span:first-child div:nth-child(2) {
  position: relative;
  transform: translateX(10px);
}
.folded-bottom > span:first-child div:nth-child(3) {
  position: relative;
  transform: translateX(15px);
}
.folded-bottom > span:first-child div:nth-child(4) {
  position: relative;
  transform: translateX(20px);
}
.folded-bottom > span:first-child div:nth-child(5) {
  position: relative;
  transform: translateX(25px);
}
.folded-bottom > span:first-child div:nth-child(6) {
  position: relative;
  transform: translateX(30px);
}
.folded-bottom > span:first-child div:nth-child(7) {
  position: relative;
  transform: translateX(35px);
}
.folded-bottom > span:first-child div:nth-child(8) {
  position: relative;
  transform: translateX(40px);
}
.folded-bottom > span:first-child div:nth-child(9) {
  position: relative;
  transform: translateX(45px);
}
.folded-bottom > span:first-child div:nth-child(10) {
  position: relative;
  transform: translateX(50px);
}

.folded-bottom > span:last-child {
  flex-grow: 1;
  height: 5px;
  background-color: var(--foreground-color);
}
