div.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;

  padding: 50px;
}

a.icon {
  width: 150px;
  text-align: center;
}

a.icon:hover {
  cursor: var(--cursor-pointer);
  text-decoration: none;
}

a.icon:hover h2 {
  cursor: var(--cursor-pointer);
  font-weight: bold;
}

a.icon h2 {
  margin: auto;
  width: fit-content;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 5px solid transparent;
}

a.icon > div {
  margin: auto;
}
