h2#project-title {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
  border-bottom: 5px solid var(--foreground-color);
  border-right: 5px solid var(--foreground-color);
  background-color: var(--background-color);
}

div#project-description {
  min-width: 15%;
  width: fit-content;
  max-width: 50%;
  padding: 0.5em;
  border: 5px solid var(--foreground-color);
  margin: 50px auto;
  font-size: 1.2em;

  box-shadow: 5px 5px 0px 0px var(--foreground-color);
  -moz-box-shadow: 5px 5px 0px 0px var(--foreground-color);
  -webkit-box-shadow: 5px 5px 0px 0px var(--foreground-color);
}

figure#project-main-media img,
figure#project-main-media video {
  display: flex;
  margin: auto;
  width: 50%;
  border: 5px solid var(--foreground-color);
}

figure#project-main-media figcaption {
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

section#project-assets {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  border-top: 5px solid var(--foreground-color);
}

section#project-assets figure {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 33%;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5em;
  border-right: 5px solid var(--foreground-color);
  border-bottom: 5px solid var(--foreground-color);
}

section#project-assets figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

section#project-assets figure figcaption {
  text-transform: uppercase;
  text-align: center;
}

figure#project-qr-code img {
  display: flex;
  margin: auto;
  max-width: 25%;
  border: 5px solid var(--foreground-color);
}

figure#project-qr-code figcaption {
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
}

.clickable-media:hover {
  cursor: var(--cursor-pointer);
}

.clickable-media:active {
  cursor: var(--cursor-grabbing);
}
