main::-webkit-scrollbar {
  height: 0;
  width: 0;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  main {
    scrollbar-color: transparent transparent;
  }
}

.scrollbar-corner {
  display: none;

  position: absolute;
  bottom: 0;
  right: 0;

  background-color: var(--background-color);
}
.scrollbar-corner div:nth-child(1) {
  position: absolute;
  bottom: 5px;
  right: 5px;

  width: 45px;
  height: 45px;
  border: 5px solid var(--foreground-color);
}

.scrollbar-corner div:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 30px;
  height: 30px;
  border: 5px solid var(--foreground-color);
  background-color: var(--background-color);
}

.vertical-scrollbar-thumb {
  background-color: var(--background-color);
  border: 5px solid var(--foreground-color);
}

.vertical-scrollbar-track {
  display: none;

  position: absolute;
  bottom: 65px;
  right: 0;

  border-left: 5px solid var(--foreground-color);
  border-bottom: 5px solid var(--foreground-color);
  pointer-events: none;
}

.vertical-scrollbar-thumb-background {
  background: repeating-conic-gradient(
      var(--foreground-color) 0% 25%,
      var(--background-color) 0% 50%
    )
    50% / 10px 10px;
}

.vertical-scrollbar-track .scrollbar-track-arrow:nth-child(1) {
  top: 0;
  border-top: 5px solid var(--foreground-color);
  transform: scaleY(-1);
}

.vertical-scrollbar-track .scrollbar-track-arrow:nth-child(2) {
  bottom: 0;
  border-top: 5px solid var(--foreground-color);
}

.horizontal-scrollbar-track {
  display: none;
  position: absolute;
  bottom: 0;

  border-top: 5px solid var(--foreground-color);
  border-right: 5px solid var(--foreground-color);
  background: repeating-conic-gradient(
      var(--foreground-color) 0% 25%,
      var(--background-color) 0% 50%
    )
    50% / 10px 10px;
}

.horizontal-scrollbar-track .scrollbar-track-arrow:nth-child(1) {
  left: 0;
  border-top: 5px solid var(--foreground-color);
  transform: rotate(90deg);
}

.horizontal-scrollbar-track .scrollbar-track-arrow:nth-child(2) {
  right: 0;
  border-top: 5px solid var(--foreground-color);
  transform: rotate(-90deg);
}

.scrollbar-track-arrow {
  pointer-events: all;
  position: absolute;

  background-color: var(--background-color);
}

.scrollbar-track-arrow div {
  position: absolute;
  height: 5px;
  width: 5px;

  background-color: var(--foreground-color);
}

.scrollbar-track-arrow div:nth-child(1) {
  top: 5px;
  left: 15px;

  width: 35px;
}

.scrollbar-track-arrow div:nth-child(2) {
  top: 10px;
  left: 15px;

  height: 15px;
}

.scrollbar-track-arrow div:nth-child(3) {
  top: 10px;
  left: 45px;

  height: 15px;
}

.scrollbar-track-arrow div:nth-child(4) {
  top: 25px;
  left: 5px;

  width: 15px;
}

.scrollbar-track-arrow div:nth-child(5) {
  top: 25px;
  left: 45px;

  width: 15px;
}

.scrollbar-track-arrow div:nth-child(6) {
  top: 30px;
  left: 10px;
}

.scrollbar-track-arrow div:nth-child(7) {
  top: 30px;
  left: 50px;
}

.scrollbar-track-arrow div:nth-child(8) {
  top: 35px;
  left: 15px;
}

.scrollbar-track-arrow div:nth-child(9) {
  top: 35px;
  left: 45px;
}

.scrollbar-track-arrow div:nth-child(10) {
  top: 40px;
  left: 20px;
}

.scrollbar-track-arrow div:nth-child(11) {
  top: 40px;
  left: 40px;
}

.scrollbar-track-arrow div:nth-child(12) {
  top: 45px;
  left: 25px;
}

.scrollbar-track-arrow div:nth-child(13) {
  top: 45px;
  left: 35px;
}

.scrollbar-track-arrow div:nth-child(14) {
  top: 50px;
  left: 30px;
}
