main::-webkit-scrollbar {
  height: 0;
  width: 0;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  main {
    scrollbar-color: transparent transparent;
  }
}

.vertical-scrollbar {
  width: 40px;
  /* background-color: red; */
  background-color: var(--backgroundground-color);
  border: 5px solid var(--foreground-color);
  /* border-bottom: 5px solid var(--foreground-color); */
}

.vertical-scrollbar-arrow-up {
  position: sticky;
  top: 0px;
  left: 100%;

  width: 40px;
  height: 40px;
  border: 5px solid var(--foreground-color);
}

.vertical-scrollbar-arrow-down {
  position: sticky;
  bottom: 0;

  width: 40px;
  height: 40px;
  border: 5px solid var(--foreground-color);
}
